td{
  padding: 1rem 1.5rem;
  color: rgb(104, 100, 100);
  font-size: 1.1rem;
}
th{
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: rgb(112, 108, 108);
}
tr{
  border: 1px solid rgba(243, 239, 239, 0.809);
}
