<label class="form-label">{{label}}</label>
<input
  type="{{type}}"
  class="form-control rounded-0"
  placeholder="{{placeholder}}"
  [formControl]="control"
  [ngClass]="{ 'is-invalid' : showErrors() }"
/>

<ng-container *ngIf="showErrors()"> 
  <div class="invalid-feedback" *ngIf="control.hasError('required')" >
    This field is required!
  </div>

  <div class="invalid-feedback" *ngIf="control.errors.pattern">
    Invalid format
  </div>

  <div class="invalid-feedback" *ngIf="control.errors.minlength">
    Value cannot be less than {{ control.errors.minlength.requiredLength}}
    Characters
  </div>

  <div class="invalid-feedback" *ngIf="control.errors.maxlength">
    Value cannot be more than {{ control.errors.maxlength.requiredLength}}
    Characters
  </div>
</ng-container>
