<div class="container mt-5">

  <div class=" border col-md-5 p-4 mx-auto">
    <app-forms
      [control]="form.get('amount')"
      label="Amount"
      placeholder="Amount"
      type="text"
    ></app-forms>

    <app-forms
      [control]="form.get('description')"
      label="Description"
      placeholder="Description"
      type="text"
    ></app-forms>

    <app-forms
      [control]="form.get('payment_status')"
      label="Payment_status"
      placeholder="Payment_status"
      type="text"
    ></app-forms>

    <app-forms
      [control]="form.get('customer_id')"
      label="Customer Id"
      placeholder="customer ID"
      type="text"
    ></app-forms>

    <app-forms
      [control]="form.get('quantity')"
      label="Quantity"
      placeholder="Quantity"
      type="text"
    ></app-forms>

    <app-buttons variant="success col-6 mt-2 py-2" (click)="formSubmitted($event)">
      {{isEditMode() ? 'Save Changes' : 'Create new order'}}
    </app-buttons>
    <app-buttons variant="danger col-6 mt-2 py-2" routerLink="/show-orders/">Discard</app-buttons>

  </div>


</div>
